* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
}

/* header part starts */
.header {
    background: linear-gradient(180deg, #111111dc, #000000 100%);

}

.hamburger {
    width: 24px;
    height: 24px;
}

.header-nav {
    display: flex;
    padding-top: 59px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0px 190px 0px 190px;
}

.nav-options {
    display: flex;
    align-items: center;

}

.nav-options-container {
    display: flex;
    gap: 47px;
    list-style: none;
    padding: 4px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.nav-title {
    font-size: 36px;
    font-weight: 800;
    color: #E6533C;
    font-style: italic;
}

.normal-list-button {
    border-radius: 46px;
    background: #E6533C;
    padding: 8px 20px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

.about-list {
    margin-right: 20px;
}

.hamburger {
    display: none;
}

.normal-list {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.model_section {
    /*this section need to adjust */
    display: flex;
    align-items: center;
    gap: 200px;
    margin-left: 190px;
}

.shape-title {
    font-size: 78px;
    text-align: left;
    font-weight: 900;
    color: white;
    max-width: 520px;
}

.span-shape {
    font-family: 'Miama', sans-serif;
    font-size: 150px;
    font-weight: 400;
}

.title-text-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 28px;
    margin-bottom: 28px;
    max-width: 520px;
}

.two-button {
    display: flex;
    gap: 14px;
}

.join_Button {
    border-radius: 42px;
    background-color: #E6533C;
    padding: 16px 40px 16px 40px;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 600;
    max-width: 224px;
    max-height: 54px;
}

.download_Button {
    background-color: black;
    border: 1px solid white;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    max-width: 224px;
    max-height: 54px;
}

.model_container {
    position: relative;
    display: inline-block;
}

.model_image {
    width: auto;
    display: block;

}

.free_video {
    position: absolute;
    top: 20%;
    left: 65%;
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 17px 24px 17px 24px;
    width: 193px;
}

.free_video_number {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    color: white;
}

.free_video_text {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}

.vid_tutorial {
    position: absolute;
    top: 75%;
    right: 60%;
    display: flex;
    gap: 12px;
    padding: 20px 23px 20px 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 206px;
}

.vid_tutorial_cicle {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.vid_tutorial_text_container_heading {
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.vid_tutorial_text_container_description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
}

.habit_section {
    background-color: black;
    padding-top: 100px;
    text-align: center;
}

.habit_title {
    font-weight: 900;
    font-size: 48px;
    color: white;
    text-align: center;
}

.habit_paragraph {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
    
}

@media screen and (max-width: 576px) {
    .nav-options-container {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .header-nav {
        display: flex;
        padding-top: 52px;
        align-items: center;
        margin: 0px 20px 0px 20px;
    }

    .model_section {
        flex-direction: column;
    }

    .model_section {

        margin-left: 20px;
        gap: 0px;
    }

    .shape-title {
        font-size: 40px;
        width: 220px;
        margin-top: 52px;
    }

    .span-shape {
        font-weight: 400px;
        font-size: 36px;
    }

    .title-text-description {
        max-width: 274px;
    }

    .club {
        display: none;
    }

    .join_Button {
        max-width: 169px;
        max-height: 54px;
    }

    .download_Button {
        max-width: auto;
        max-height: 54px;
    }

    .free_video {
        padding: 13px 17px 11px 18px;
        width: 140px;
        top: 15%;
        left: 60%;
    }

    .free_video_number {
        font-size: 30px;
        font-weight: 900;
    }

    .free_video_text {
        font-size: 10px;
        font-weight: 400;
    }

    .model_container {
        margin-top: 47px;
    }

    .vid_tutorial {
        top: 45%;
        right: 60%;
        display: flex;
        gap: 9px;
        padding: 15px 17px 15px 17px;
        width: 156px;
    }

    .vid_tutorial_cicle {
        width: 30px;
        height: 30px;
        background: rgb(230, 83, 60);
        border-radius: 50%;
    }

    .vid_tutorial_text_container_heading {
        color: white;
        font-size: 18px;
    }

    .vid_tutorial_text_container_description {
        font-size: 12px;
        color: rgba(239, 237, 232, 0.65);
    }

    .habit_section {

        margin-top: 0px;
    }
}